.wrapper {
    display: flex;
    margin: 40px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 5px 5px #888
}

.control-panel{
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 5px 5px #888;
    gap: 100px;
    background-color: white;
}

.container {
    width: 600px;
    min-width: 600px;
    height: 600px;
    box-shadow: 0 0 5px 5px #888 ;
    display: flex;
    flex-wrap: wrap;
    z-index: auto;
}

.grid-param {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.monty{
    font-size: 50px;
}

/* control panel */
button {
    padding: 10px 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
  }
  
  button,
  input[type='color'] {
    transition: transform 0.1s ease-in-out;
  }
  
  button:hover,
  input[type='color']:hover {
    transform: scale(1.05);
  }
  
  input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
  }
  
  input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
  }
  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 0 7px;
  }

  input[type = 'range']{
  }
