.wrapper {
    display: flex;
    margin: 40px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: solid red;
}

.control-panel{
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px red;
    gap: 100px
}

.container {
    width: 500px;
    min-width: 500px;
    height: 500px;
    box-shadow: 0 0 5px 5px #888 ;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.5;
    z-index: 1;
}

.grid-param {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mean{
    z-index: auto;
    margin-left: -540px;
    opacity: 1;
    display: flex;
    justify-content: center;
}